.movieRow {
  margin-bottom: 3rem;
}

.movieRow h2 {
  margin-left: 3rem;
  font-size: 2.5rem;
}

.movieRow--listArea {
  overflow-x: hidden;
  padding-left: 3rem;
}

.movieRow--list {
  transition: all ease 0.4s;
}

.movieRow--iten {
  display: inline-block;
  width: 15rem;

  cursor: pointer;
}

.movieRow--iten img {
  width: 100%;
  height: 22.5rem;

  transform: scale(0.9);
  transition: all ease 0.3s;
}

.movieRow--iten img:hover {
  transform: scale(1);
}

.movieRow--left,
.movieRow--right {
  position: absolute;
  width: 4rem;
  height: 22.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  cursor: pointer;
  opacity: 0;

  transition: all ease 0.3s;
}

.movieRow--left {
  left: 0;
}

.movieRow--right {
  right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}

@media(max-width:760px) {
  .movieRow--left,
  .movieRow--right {
    opacity: 1;
  }
}